@font-face {
  font-family: 'Tomorrow';
  src: url('./fonts/Tomorrow-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
